<%= form_for @item, :html => { :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :part_number %>
    <%= f.text_field :part_number, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <%= f.label :list_price %>
    <%= f.text_field :list_price, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>

<% end %>
