<%= form_for @sales_order, :html => { :multipart => true } do |f| %>

  <div class="form-group">
    <%= f.label :id %>
    <%= f.text_field :id, :class => 'form-control'   %>
  </div>

  <div class="form-group">
    <%= f.label :customer_PO_number %>
    <%= f.text_field :customer_PO_number, :class => 'form-control', :required => true   %>
  </div>

  <div class="form-group">
    <label></label>
    <%= f.submit :class => 'btn btn-info'  %>
  </div>

<% end %>
